*, html {
	margin: 0px;
	padding: 0px;
}

body {
	background: #F5F0D0;
	color:#220059;
	font-family:Georgia, Trebuchet MS, Times New Roman, serif;
    font-size: 14px;
	padding: 0px;
}

a {
	color: #00AEFF;
	text-decoration: none;
    font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #220059;
	font-family: Georgia, Trebuchet MS, Times New Roman, serif;
	font-size: 32px;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 100%;
	text-align: left;
}	

h2 {
	color: #93b1bf;
	font-family: Georgia, Trebuchet MS, Times New Roman, serif;
	font-size: 22px;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}

#topbar {
	height: 80px;
	clear: both;
    padding-top: 0px;
}

#topbanner {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

#title {
	display: block;
	float: left;
}

#menus {
	display: block;
	float: right;
	text-align: center;
	width: 540px;
	margin-top: 5px;
}

#bottombar {
	height: 17px;
	clear: both;
	background: #1F1F26;
    color: #93b1bf;
	text-align: center;
	font-size: 11px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
}

#bottombar a {
    color: #fff;
    text-decoration: none;
}

#mainbox {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#photos {
	margin-top: 30px;
	margin-bottom: 20px;
}

.slides_container {
    width:860px;
    overflow:hidden;
    position:relative;
    display:none;
	border: 1px solid #220059;
}

.slides_container div.slide {
    width:860px;
    height:520px;
    display:block;
}

.slides_container div {
  width:860px;
  height:520px;
  display:block;
}

.pagination {
    margin:26px auto 0;
    width: 100px;
}

.pagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.pagination li a {
    display:block;
    width:12px;
    height:0;
    padding-top:12px;
    background-position:0 0;
    float:left;
    overflow:hidden;
	border: 1px solid #220059;
}

.pagination li.current a {
    background-position:0 -12px;
	background: #220059;
}

#prevbutton {
	float: left;
	padding-top: 200px;
}

#nextbutton {
	float: right;
	padding-top: 200px;
}

.box {
	margin-bottom: 90px;
	margin-top: 150px;
	text-align: center;
}

.box p {
	width: 100%;
	text-align: left;
}

.box p.leftp {
	float: left;
	width: 410px;
}

.box p.rightp {
	float: right;
	width: 410px;
}

.box_content {
	width: 860px;
	margin-top: 40px;
	float: left;
}

.return {
	float: right;
}

.return a {
	text-decoration: none;
	font-weight: normal;
	color: #220059;
}

.return .big {
	font-size: 22px;
}	

p .big {
		font-size: 22px;
	}

p {
	margin-bottom: 10px;
	margin-top: 10px;
}

#ourstory p img {
	border: 1px solid #220059;
	margin-bottom: 10px;
}

#inviteleft {
	float: left;
	width: 440px;
}

#inviteright {
	float: right;
	width: 390px;
	margin-top: 180px;
	background: #f00;
}

#invitecontent {
	background: url(img/invite_bg.png) repeat-y;
	width: 440px;
	padding-bottom: 30px;
}

#invitecontent p {
	width: 380px;
	margin: 0;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 38px;
	font-family: 'Tangerine', cursive;
	color: #93b1bf;
	text-align: center;
}

#invitecontent p a {
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px dashed #93b1bf;
}

#frame {
	width: 700px;
	height: 250px;
	float: right;
	border: 1px solid #220059;
}

#left_of_frame {
	float: left;
	background: url(img/frame_left_bg.png) no-repeat left 10px;
	height: 250px;
	width: 79px;
}

#right_of_frame {
	float: right;
	background: url(img/frame_right_bg.png) no-repeat right 10px;
	height: 250px;
	width: 79px;
}

#menus li {
	list-style-type: none;
	float: left;
	text-align: left;
	width: 170px;
	color: #220059;
	padding: 2px;
	margin: 2px;
}

#menus li a {
	color: #220059;
}