*, html {
	margin: 0px;
	padding: 0px;
}

body {
	background: #F5F0D0;
	color:#220059;
	font-family:Georgia, Trebuchet MS, Times New Roman, serif;
    font-size: 14px;
	padding: 0px;
}

a {
	color: #00AEFF;
	text-decoration: none;
    font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #fff;
	font-family: Georgia, Trebuchet MS, Times New Roman, serif;
	font-size: 52px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#topbar {
	height: 80px;
	clear: both;
    padding-top: 0px;
}

#topbanner {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

#title {
	display: block;
	float: left;
}

#menus {
	display: block;
	float: right;
	text-align: center;
	width: 540px;
	margin-top: 5px;
}

#bottombar {
	height: 17px;
	clear: both;
	background: #1F1F26;
    color: #93b1bf;
	text-align: center;
	font-size: 11px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
}

#bottombar a {
    color: #fff;
    text-decoration: none;
}

#mainbox {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#photos {
	margin-top: 30px;
	margin-bottom: 90px;
}

.box {
	margin-bottom: 90px;
	margin-top: 50px;
}

.box_content {
	width: 860px;
	float: left;
}

.return {
	float: right;
}

.return .big {
	font-size: 22px;
}

p {
	margin-bottom: 10px;
	margin-top: 10px;
}

#frame {
	width: 700px;
	height: 250px;
	float: right;
	border: 1px solid #220059;
}

#left_of_frame {
	float: left;
	background: url('img/frame_left_bg.png') no-repeat left 10px;
	height: 250px;
	width: 79px;
}

#right_of_frame {
	float: right;
	background: url('img/frame_right_bg.png') no-repeat right 10px;
	height: 250px;
	width: 79px;
}

#menus li {
	list-style-type: none;
	float: left;
	text-align: left;
	width: 170px;
	color: #220059;
	padding: 2px;
	margin: 2px;
}

#menus li a {
	color: #220059;
}